<div class="flex flex-row h-10 w-full bg-violet-500 text-black items-center gap-4 justify-center p-2">
    <div class="w-[80%]">
        <a href="/"><img src="/images/logo.png" alt="Habit Tracker" class="h-10 ml-4"></a>
    </div>
    <p class="text-center w-[10%]"><strong><a href="/reset-password">Reset Password</a> </strong></p>
    <p class="text-center cursor-pointer w-[10%]">
        <strong onclick="signOut()">
            Sign Out
        </strong>
    </p>
</div>
<script src="/js/common.js"></script>