<div class="w-full h-screen">
    <div class="w-1/4 mx-auto mt-32 border p-10 bg-orange-200">
        <form id="reset-form" class="flex flex-col gap-8 grow w-4/5 mx-auto content-around" action="">
            <div class="input-box flex flex-col text-left">
                <label for="newPassword">New Password</label>
                <input class="h-10" type="password" name="newPassword" id="newPassword" required>
            </div>
            <div class="input-box flex flex-col text-left">
                <label for="confirmPassword">Confirm Password</label>
                <input class="h-10" type="password" name="confirmPassword" id="confirmPassword" required>
            </div>
            <input class="bg-orange-900 w-auto h-10 text-white cursor-pointer" type="button" value="Reset Password"
                onclick="resetPassword(this.form)">
        </form>
    </div>
</div>